<nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="topnavbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ajet-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="./">EricUlicny.com</a>
    </div>
    <div id="eulicny-nav-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="./"><i class="fa fa-home"></i><span class="nav-text">Home</span></a></li>
        <li><a href="./s"><i class="fa fa-calendar"></i><span class="nav-text">About</span></a></li>
        <li><a href="#"><i class="fa fa-question"></i><span class="nav-text">Projects</span></a></li>
      </ul>
    </div>
  </div>
</nav>
