#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.splash {
  height: 100%;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
.splash .splash-message {
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}


