{% extends 'base.twig' %}


{% block precontent %}
  <!-- start spalsh screen -->
  <div class="splash">
    <div class="splash-message">
      <h2> </h2>   
    </div> <!-- /spash-message -->
    <a class="explore-more" id="more" data-tag="news"><i class="fa fa-arrow-down fa-lg"></i></a>
  </div> <!-- /spash -->
{% endblock %}

{% block content %}
  {# DEBUG -- dump all variables
  <section> <pre>{{ dump() }}</pre> </section>
  #}
  <section id="section-posts">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1 id="news">Latest News </h1>
            <br>
            Welcome to my homepage.  I hope to show case various projects I have worked on.  I am lover of all things technologies, good food, good beer, and great company.
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}