{% extends 'base.twig' %}


{% block precontent %}
  <!-- start spalsh screen -->
  <div class="splash">
    <div class="splash-message">
      <h3>EricUlicny.com <span class="glyphicon glyphicon-console" aria-hidden="true" style="top: 4px"></span> Technologist, Software Engineer, World Traveler, Foodie</h3>   
    </div> <!-- /spash-message -->
    <a class="explore-more" id="more" data-tag="news"><i class="fa fa-arrow-down fa-lg"></i></a>
  </div> <!-- /spash -->
{% endblock %}

{% block content %}
  {# DEBUG -- dump all variables
  <section> <pre>{{ dump() }}</pre> </section>
  #}
  <section id="section-posts">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1 id="news">About</h1>
            <div class="row">
              <div class="col-md-4"><img src="/images/profpic.jpg" height="256" width="256"/></div>
              <div class="col-md-8">I am a software engineer with a wide interest in technology.  I currently am involved in the automotive industry working with big-data and the internet of things (IoT)./div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}