{% extends 'base.twig' %}


{% block content %}
  {# DEBUG -- dump all variables
  <section> <pre>{{ dump() }}</pre> </section>
  #}
  <section id="section-posts">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1 id="news">Latest News <small>This is a Stub!</small></h1>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}